---
name: kubectl-eks-release
on:
  push:
    tags:
    - 'v*.*.*'
jobs:
  release_job:
    runs-on: ubuntu-latest
    name: goreleaser
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '^1.18'
    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v3
      with:
        distribution: goreleaser
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#     - name: Update new version in krew-index
#       uses: rajatjindal/krew-release-bot@v0.0.43
